<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LC01-LB02-C</title>
</head>
<body>
<h1>Welcome!</h1>
<p>This is the landing page of <span th:text="${appName}">App Name</span>.<br><br>We are team <span th:text="${groupName}">Group Name</span>:<br><br>
    2498185J Hallton Jiao<br>
    2730954Z Zi Zheng<br>
    2741539Z Zheng Zhuang<br>
    2743219Y Chang Yan<br>
    2745699X Bingjie Xu<br>
    2746688Y Junwen Yang<br>
    2749823X Hao Xie</p>
</body>
</html>